<table>
  <tr>
    <td><%= f.label :name, 'Title'%></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= f.label :category_ids, 'Category' %></td>
    <td><%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %></td>
  </tr>
  <tr>
    <td><%= f.label :content, "Content"%></td>
    <td><%= f.text_area :content%></td>
  </tr>
</table>