<%= simple_format(link_to 'New Topic', new_post_path) %>

<table>
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>User</th>
    <th>Replies<%= link_to 'ASC', posts_path("replies", order: "reply_counter", sort: "asc") %> <%= link_to 'DESC', posts_path("replies", order: "reply_counter", sort: "desc") %></th>
    <th>Last Reply</th>
    <th>Post Date<%= link_to 'ASC', posts_path("replies", order: "created_at", sort: "asc") %> <%= link_to 'DESC', posts_path("replies", order: "created_at", sort: "desc") %></th>
    <th>Action</th>
  </tr>
  <% @topics.each do |topic| %>
  <tr>
    <td><%= link_to topic.name, post_path(topic) %></td>
    <td><% topic.categories.each do |c| %>
          <%= c.name %>
        <% end %>
    </td>
    <td><%= topic.user.name %></td>
    <td><%= topic.reply_counter %></td>
    <td><%= topic.replies.last.try(:created_at) %></td>
    <td><%= topic.created_at.strftime("%Y-%m-%d %T") %></td>
    <td><% if current_user == topic.user %>
          <%= link_to 'Edit', edit_post_path(topic) %>
          <%= link_to 'Delete', post_path(topic), method: :delete %>
        <% end %>
    </td>
  </tr>
  <% end %>
</table>