<%= simple_format(link_to 'New Topic', new_post_path) %>

<table>
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>User</th>
    <th>Replies<%= link_to 'ASC', asc_posts_path("replies"), method: :get %> <%= link_to 'DESC', desc_posts_path("replies"), method: :get %></th>
    <th>Last Reply</th>
    <th>Post Date</th>
    <th>Action</th>
  </tr>
  <% @topics.each do |topic| %>
  <tr>
    <td><%= link_to topic.name, post_path(topic) %></td>
    <td><%= topic.category.name %></td>
    <td><%= topic.user.name %></td>
    <td><%= topic.replies.size %></td>
    <td><%= topic.replies.last %></td>
    <td><%= topic.created_at %></td>
    <td><% if current_user == topic.user %>
          <%= link_to 'Edit', edit_post_path(topic) %>
          <%= link_to 'Delete', post_path(topic), method: :delete %>
        <% end %>
    </td>
  </tr>
  <% end %>
</table>