<table>
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>User</th>
    <th>Replies</th>
    <th>Date</th>
  </tr>
  <% @topics.each do |topic| %>
  <tr>
    <td><%= topic.name %></td>
    <td><%= topic.category.name %></td>
    <td><%= topic.user.name %></td>
    <td><%= topic.replies.size %></td>
    <td><%= topic.created_at %></td>
  </tr>
  <% end %>
</table>