<%= simple_format(@topic.name) %>
<%= simple_format(@topic.content) %>
<ul>
  <% @topic.replies.each do |r| %>
    <li><%= r.content %></li>
  <% end %>
</ul>
<br>
<div>
  Add a new reply
  <%= form_for @reply, url: post_replies_path(@topic) do |f| %>
    <%= render 'replyform', f: f %>
    <%= f.submit 'Reply' %>
  <% end %>
</div>

<%= simple_format(link_to 'Back to Index', posts_path) %>